body {
    background-image: url("http://wallpapercave.com/wp/JQNE7XQ.jpg");
    background-size:cover;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}